<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Downloads</title>
</head>
<style>
    h2 {
        color: green;
    }
    h2 > span {
        color: gray;
    }

</style>
<body>
    <h1>下载加速列表</h1>
    <ul>
        <li><h2>JDK: <span>jdk-8u5-windows-x64.exe </span><a href="../static/src/jdk-8u5-windows-x64.exe">下载</a></h2></li>
        <li>
            <h2>SDK: <span> installer_r24.4.1-windows.exe </span><a href="../static/src/installer_r24.4.1-windows.exe">下载</a></h2>
        </li>
        <li>
            <h2>Appium: <span> Appium-windows-1.15.1.exe</span><a href="../static/src/Appium-windows-1.15.1.exe">下载</a></h2>
        </li>
        <li>
            <h2>Nox: <span> nox_setup_v6.3.0.9_full.exe</span><a href="../static/src/nox_setup_v6.3.0.9_full.exe">下载</a></h2>
        </li>
        <li>
            <h2>Xuexi: <span> xuexi_android_10002068.apk</span><a href="../static/src/xuexi_android_10002068.apk">下载</a></h2>
        </li>
        <li>
            <h2>Python: <span> python-3.8.0-amd64.exe</span><a href="../static/src/python-3.8.0-amd64.exe">下载</a></h2>
        </li>
        <li>
            <h2>Vs Code: <span> VSCodeSetup-x64-1.39.2.exe</span><a href="../static/src/VSCodeSetup-x64-1.39.2.exe">下载</a></h2>
        </li> 
    </ul>
</body>
</html>